.btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;

  .title {
    font-weight: bold;
    padding: 0 12px;
  }
}

.large {
  width: 400px;
  height: 60px;
  justify-content: center;
}

.secondColor {
  background-color: #474747;
}

.underline {
  background-color: transparent;
  color: red;
  text-decoration: underline;
}
