.order {
  width: 100%;

  .haft-top-body {
    width: 100%;
    display: flex;
    flex-direction: row;

    .grade-report {
      width: 50%;
      padding: 0 0 20px 5px;

      .dropdown4 {
        .dropdown-button4 {
          height: 40px;
          width: 100%;
          background-color: #2d3748;
          color: white;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;

          &.clicked {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
      .dropdown-content4 {
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #8b8b8b;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        transition: height 0.3s ease;

        &.opened {
          height: auto;
        }

        .dropdown-option1 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 20px;

          .dropdown-option1-content {
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            border-radius: 10px;
            gap: 20px;

            .mini-content {
              display: flex;
              flex-direction: row;
              gap: 20px;
              justify-content: space-between;
              align-items: center;
            }
          }

          .dropdown-option1-content2 {
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 1px solid #000;
            border-radius: 10px;
            gap: 20px;
          }
        }
      }
    }

    .time-allocation {
      width: 50%;
      padding: 0 0 20px 5px;

      .dropdown3 {
        .dropdown-button3 {
          height: 40px;
          width: 100%;
          background-color: #2d3748;
          color: white;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;

          &.clicked {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
      }
      .dropdown-content3 {
        height: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #8b8b8b;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        transition: height 0.3s ease;

        &.opened {
          height: auto;
        }

        .dropdown-option1 {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 20px;

          .gradePoint {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }

          .dropdown-content1 {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .form-view-mini {
              display: flex;
              flex-direction: row;
              gap: 10px;
              .view-text-decoration {
                display: flex;
                flex-direction: row;
                gap: 10px;
                p {
                  font-size: 12px;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }

  .haft-bottom-body {
    width: 100%;

    .training-delivery-principle {
      width: 100%;
      padding: 0 0 20px 5px;

      .dropdown5 {
        .dropdown-button5 {
          height: 40px;
          width: 100%;
          background-color: #2d3748;
          color: white;
          border-radius: 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;

          &.clicked {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
        }

        .dropdown-content5 {
          height: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 1px solid #8b8b8b;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          padding: 10px;
          transition: height 0.3s ease;

          &.opened {
            height: auto;
          }
          .dropdown-option1 {
            width: 100%;
            display: flex;
            flex-direction: row;

            .content-container {
              width: 80%;
              display: flex;
              flex-direction: column;
              gap: 20px;

              .container {
                display: flex;
                flex-direction: row;
                
                .title-content-name {
                  display: flex;
                  flex-direction: row;
                  gap: 20px;
                  width: 156px;
                }

                ul {
                  margin: 0;
                }

                .text-paragraph{
                  padding-left: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
