.filter-form {
  height: 123px;
  width: 720px;
  display: flex;
  align-items: flex-start;
  gap: 79px;
  align-self: stretch;

  .checkbox-form {
    display: flex;
    padding-top: 5px;
    align-items: flex-start;
    gap: 15px;

    .checkbox-title {
      color: var(--Main, #2d3748);
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
    }

    .checkbox-group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      input {
        color: var(--Main, #2d3748);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
      }
    }
  }
}
