.container {
  position: relative;
  background-color: white;
  width: 100%;

  .header {
    margin: 2%;
  }

  .action {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;

      .search-input {
        position: relative;
        display: flex;
        align-items: center;
        width: 300px;
        padding: 2% 0 2% 2%;
        border: 1px solid var(--primary-color);
        border-radius: 8px;

        .input-contain {
          padding: 4px 8px;
          width: 220px;
          border: none;
          outline: none;
          font-weight: bold;
          font-style: italic;

          &:hover,
          &:focus {
            border: none;
          }

          &::placeholder {
            color: black !important;
            font-style: italic;
          }
        }

        .clear-btn {
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.modal {
  position: absolute;
  right: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.loading {
  width: 50px;
  height: 50px;
  border: 10px dotted transparent;
  border-top: 10px dotted var(--white-color);
  border-right: 10px dotted var(--white-color);
  border-left: 10px dotted var(--white-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
