.container {
  position: relative;
  background-color: white;
  width: 100%;

  .header {
    margin: 2%;
  }

  .action {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;

      .search-input {
        position: relative;
        display: flex;
        align-items: center;
        width: 300px;
        padding: 2% 0 2% 2%;
        border: 1px solid var(--primary-color);
        border-radius: 8px;

        .input-contain {
          padding: 4px 8px;
          width: 220px;
          border: none;
          outline: none;
          font-weight: bold;
          font-style: italic;

          &:hover,
          &:focus {
            border: none;
          }

          &::placeholder {
            color: black !important;
            font-style: italic;
          }
        }

        .clear-btn {
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }

  .filter-result {
    margin: 2%;
    display: flex;
    align-items: center;

    .filter {
      border-radius: 8px;
      height: 30px;
      line-height: 28px;
      font-style: italic;
      font-weight: 600;
    }

    .clear {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .table {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 0.5%;
    width: 99%;
    box-shadow: 0 0 2px gray;
    border-collapse: collapse;
    font-weight: 500;

    .thead {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: var(--primary-color);

      .tr {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: left;

        :first-child {
          border-top-left-radius: 10px;
        }

        :last-child {
          border-top-right-radius: 10px;
        }

        .th {
          height: 40px;

          .title {
            border: none;
            outline: none;
            gap: 4px;
            display: flex;
            align-items: center;
            background-color: transparent;
            color: var(--white-color);
            font-weight: bold;
            cursor: pointer;
          }
        }
      }
    }
  }

  .no-data {
    margin-top: 8%;
    text-align: center;
    font-size: large;
    font-weight: bolder;
    font-style: italic;
  }

  .pagination {
    margin: 2%;
    text-align: center;
  }
}
