.container {
  position: relative;
  background-color: white;
  width: 100%;

  .header {
    margin: 2%;
  }

  .action {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;

      .search-input {
        position: relative;
        display: flex;
        align-items: center;
        width: 300px;
        padding: 2% 0 2% 2%;
        border: 1px solid var(--primary-color);
        border-radius: 8px;

        .input-contain {
          padding: 4px 8px;
          width: 220px;
          border: none;
          outline: none;
          font-weight: bold;
          font-style: italic;

          &:hover,
          &:focus {
            border: none;
          }

          &::placeholder {
            color: black !important;
            font-style: italic;
          }
        }

        .clear-btn {
          position: absolute;
          right: 0;
          display: flex;
          align-items: center;
          background-color: transparent;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}
