.tr {
  border-bottom: 0.5px solid var(--primary-color);
  width: 100%;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  :last-child {
    cursor: pointer;
  }

  .td {
    padding: 0.5%;
    height: 40px;

    .more-btn {
      background-color: transparent;
      border: none;
    }
  }

  .name {
    font-weight: bold;
  }

  .id {
    padding-left: 1%;
  }
}
