.progressBarContainer {
  margin: 0;
  margin-left: 20px;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 320px;

  .progressBarContent {
    align-items: center;
    width: 100%;
  }

  .progressBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #cccccc;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 5px;
      height: 4px;
      width: 100%;
      z-index: -1;
      transition: 0.4s ease;
    }

    .progress {
      position: absolute;
      background-color: #000000;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 5px;
      height: 4px;
      width: 50%;
      z-index: -1;
      transition: 0.4s ease;
    }

    .circle {
      background-color: #fff;
      color: #999;
      border-radius: 50%;
      height: 12px;
      width: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #e0e0e0;
      transition: 0.4s ease;
      position: relative;
    }
  }

  .label {
    position: absolute;
    top: 18px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    width: 100%;
    color: #000000;
    display: flex;
    justify-content: space-around;
  }
}
