button{
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
}

.container {
    width: 86%;
    background-color: #FFFFFF;
}

.headerTitle {
    margin-right: 15px;
}

.inputSyllabusName {
    width: 300px;
    height: 36px;
    border: 1px solid #cccccc;
    border-radius: 5px;

}

.syllabusTabContainer {
    display: flex;
    padding: 20px;
    margin: 20px;
    margin-top: 0;
    background-color: #FFFFFF;
    justify-content: space-between;
    border: 1px solid #e9e9e9;
    border-radius: 15px;
}

.syllabusTabContent {
    width: 81%;
    height: 667px
}



//CreateGeneral
.baseGeneralSetup {
    display: block;
    width: 350px;
    height: auto;

    .selectLevel,
    .attendeeNumbers {
        justify-content: space-between;
        padding-bottom: 10px;

        .optionLevel {
            width: 270px;
            height: 30px;
            border: 0.5px solid #d5d5d5;
            border-radius: 5px;
            padding: 5px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}

.ql-container {
    padding: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}

.ql-editor {
    border-radius: 10px;
}

.ql-container-technical-requirement {
    padding: 0;

    border-radius: 10px;
}

.ql-toolbar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

////CreateOutline
.dayLabel {
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
}

.dayLabel:hover {
    background-color: #3b475d;
}

.dayUnit {
    display: flex;

}

.dayUnitInfor {
    width: 100%;
    margin-left: 34px;
}

.unitLable {
    margin-bottom: 20px;
}

.unitName,
.next-InputUnitName {
    margin-right: 15px;

}

.InputUnitName {
    width: 174px;
    height: 32px;
    border: 1px solid #9a9a9a;
    border-radius: 7px;
    padding: 10px;
}

.InputUnitName::placeholder {
    font-style: italic;
    color: #9a9a9a;
}

.unitNumber,
.next-unitNumber {
    width: 68px;
}

.unitHour {
    margin: 10px 0;
}

.next-unitLable {
    margin-left: 34px;
}

.addUnitBtn,
.addDayBtn {
    padding: 20px;
}


.outlineDays {
    border-bottom: 16px solid var(--primary-color);
    border-radius: 7px;
}

.addUnitPopup, .syllabusPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.unitEditBtn button, .addSyllabusBtn button{
    cursor: pointer;
    padding-top: 3px;
    border: none;
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-size: 21px;
}

.addSyllabusBtn button, .unitDropDownBtn button{
    cursor: pointer;
    border: none;
    background-color: #FFFFFF;
    color: var(--primary-color);
    font-size: 24px;
    font-weight: bolder;
}

.unitEditBtn button:hover, .addSyllabusBtn button:hover, .unitDropDownBtn button:hover {
    color: #000000;
}
