.container {
  background-color: white;
  width: 100%;

  .header {
    margin: 2%;
  }

  .action {
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      gap: 2%;
    }
  }

  .search-result {
    margin: 2%;

    .result {
      border-radius: 8px;
      height: 30px;
      line-height: 28px;
      font-style: italic;
      font-weight: 600;
    }
  }

  .table {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 0.5%;
    width: 99%;
    box-shadow: 0 0 2px gray;
    border-collapse: collapse;
    font-weight: 500;

    .thead {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: var(--primary-color);

      .tr {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        text-align: left;

        :first-child {
          border-top-left-radius: 10px;
        }

        :last-child {
          border-top-right-radius: 10px;
        }

        .th {
          height: 40px;

          .title {
            border: none;
            outline: none;
            gap: 4px;
            display: flex;
            align-items: center;
            background-color: transparent;
            color: var(--white-color);
            font-weight: bold;
          }
        }
      }
    }

    .tbody {
      .tr {
        border-bottom: 0.5px solid var(--primary-color);
        width: 100%;

        .td {
          padding: 0.5%;
          height: 40px;
        }

        .name {
          font-weight: bold;
        }

        .id {
          padding-left: 1%;
        }
      }
    }
  }

  .pagination {
    margin: 2%;
    text-align: center;
  }
}
