.container {
  width: 100%;
  flex-direction: row !important;

  .content-container {
    margin: 0;
    padding: 26px;

    .text {
      display: flex;
      margin-bottom: 20px;
      font-size: larger;
      font-weight: bold;
    }

    .syllabus-list{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    

  }
}
