.button-options {
  font-size: 30px;
  text-align: center;
}

.button-options:hover {
  cursor: pointer;
}

.popup-options {
  width: 100px;
}

.options {
  font-size: 18px;
}

.icon-option {
  margin-right: 0.6rem;
  color: #2c5282;
}
