.container {
    width: 100%;
    flex-direction: row !important;

    .second-container{
        border-bottom: 0.1px solid;
    }

    .content-container{
        width: 100%;
        display: flex;
        padding-top: 15px;

        .content-inside{
            width: 100%;
           
        }

    }

    
    .category {
        display: inline-flex;
        gap: 1px;

        .button{
            display: flex;
            border: none;
            padding: 0;

            .button-cursor{
                cursor: pointer;
            }

           

        }
    }
}