@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* Color */
  --primary-color: #2D3748;
  --secondary-color: #4F6181;
  --orange-color: #D45B13;
  --green-color: #2F903F;
  --white-color: #EDF2F7;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Inter', sans-serif;
}

/* Heading css */
h1 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  line-height: 64px;
  font-weight: 600;
}

h3 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

h6 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

/* Text css */
.subtitle1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.subtitle2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
}

.body1 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.body2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}

.caption1 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.caption2 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.footnote {
  font-size: 10px;
  line-height: 18px;
  font-weight: 500;
}

.overline {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  word-spacing: 1.2;
}

/* Button css */
.btn-lg {
  font-size: 15px;
  line-height: 26px;
  font-weight: 700;
}

.btn-md {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.btn-sm {
  font-size: 13px;
  line-height: 22px;
  font-weight: 700;
}