.tr {
    border-bottom: 0.5px solid var(--primary-color);
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    :last-child {
        cursor: pointer;
    }

    .td {
        padding: 0.5%;
        height: 58px;

        .more-btn {
            background-color: transparent;
            border: none;
        }
    }

    .name {
        font-weight: bold;
        padding-left: 3%;
        width: 25%;
    }
    
    .code {
        width: 15%;
    }

    .createdon {
        width: 10%;
    }

    .createdby {
        width: 10%;
    }

    .attendee {
        width: 12%;
    }
}

.attendee-style {
    display: inline-block;
    min-width: 60px;
    height: 28px;
    line-height: 28px;
    border-radius: 50px;
    color: var(--white-color);
    text-align: center;
    font-size: small;
}

.fresher {
    background-color: #FF7568;
}

.intern {
    background-color: #2D3748;
}

.online-fee-fresher {
    width: 130px;
    background-color: #2F903F;
}

.offline-fee-fresher {
    width: 130px;
    background-color: #D45B13;
}
